{% extends 'home.html' %}
{% block con %}

{% for m in messages %}
<br>
      <div id='message' class="alert alert-success alert-dismissible fade show">
        <i class="fa-solid fa-check" style="color: #007a0e;"></i>
         <strong>{{ m }}</strong>
         <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>   
    {% endfor %}

<div style="padding-top: 10rem; padding-bottom: 10rem;">
<div class="card mx-auto" style="width: 40rem;">
  <div class="card-body">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">textbook name</label>
        <input type="text" class="form-control" placeholder="enter name of textbook" name="textname" required>
      </div>
      <div class="col-md-4">
        <label class="form-label">class</label>
        <select class="form-select" name="class" required>
          {% for i in r %}
          <option value="{{i}}">class {{i}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <input type="file" class="form-control" name="file" required>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-success">add book</button>
      </div>
    </form>
  </div>
</div>
</div>

{% endblock con %}