{% extends 'home.html' %}
{% block con %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">textbook name</label>
        <input type="text" class="form-control" placeholder="enter name of textbook" name="textname" required>
      </div>
      <div class="col-md-4">
        <label class="form-label">class</label>
        <select class="form-select" name="class" required>
          <option value="1">class 1</option>
          <option value="2">class 2</option>
          <option value="3">class 3</option>
          <option value="4">class 4</option>
          <option value="5">class 5</option>
          <option value="6">class 6</option>
          <option value="7">class 7</option>
          <option value="8">class 8</option>
          <option value="9">class 9</option>
          <option value="10">class 10</option>
          <option value="11">class 11</option>
          <option value="12">class 12</option>
        </select>
      </div>
      <div class="mb-3">
        <input type="file" class="form-control" name="file" required>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-success">add book</button>
      </div>
    </form>


{% endblock con %}