{% extends "home.html" %}
{% load static %}

    {% block con %}

  <div class="container text-center" style="padding-bottom: 40px;">
      <div class="row">


    {% for c in r %}

        <div class="col">
          <div class="card" style="width: 18rem;"> 
              <div class="card-header"><h1>class {{c}}</h1></div>
              <div class="card-body">
                  <h5 class="card-title">Textbooks</h5>
              </div>
              <ul class="list-group list-group-flush">
                {% for i in t %}
                {% if i.classe == c %}
                  <li class="list-group-item">{{i.bookname}}</li>
                {% endif %}
                {% endfor %}
                </ul>
                <div class="card-footer">
                  <a href="class/{{c}}" class="btn btn-primary">go to class</a>
                </div>
            </div>
        </div>

    {% endfor %}



      </div>
    </div>


 {% endblock con %}