{% extends "home.html" %}
{% load static %}

    {% block con %}

    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd1ps\aerd1ps_00.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Raindrops</h5>
                  <a href="raindrops" class="btn btn-primary">read</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'NCERT Books for Class 1\Magic\aemh1ps\aemh1ps_00.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maths Book - Magic</h5>
                  <a href="Magic" class="btn btn-primary">read</a>
                </div>
              </div>
          </div>
        
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn1ps\ahhn1ps_00.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">एन सी ई आर टी कक्षा १ रिमझिम</h5>
                  <a href="एन सी ई आर टी कक्षा १ रिमझिम" class="btn btn-primary">read</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'NCERT Books for Class 1\Marigold\aeen1ps\aeen1ps_00.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Marigold</h5>
                  <a href="Marigold" class="btn btn-primary">read</a>
                </div>
            </div>
          </div>
      </div>
    </div>

            

 {% endblock con %}