{% extends "home.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block con %}


    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd1ps\aerd1ps_00.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Raindrops</h5>
                  <a href="raindrops" class="btn btn-primary">read</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd1ps\aerd1ps_00.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maths Class 1 Maths Book - Magic</h5>
                  <a href="#" class="btn btn-primary">read</a>
                </div>
              </div>
          </div>
        
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd1ps\aerd1ps_00.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">एन सी ई आर टी कक्षा १ रिमझिम</h5>
                  <a href="#" class="btn btn-primary">read</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd1ps\aerd1ps_00.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Marigold</h5>
                  <a href="#" class="btn btn-primary">read</a>
                </div>
            </div>
          </div>
      </div>
    </div>

            





            
          {% endblock con %}
</body>
</html>