{% extends "home.html" %}
{% load static %}

    
{% block con %}
    <div style="background: url('/static/login.jpg'); background-position: center; background-size: cover;">

    {% for m in messages %}
    <br>
      <div id='message' class="alert alert-{{ m.tags }} alert-dismissible fade show">
        {% if m.tags == warning %}
          <i class="fa-solid fa-triangle-exclamation"></i>
        {% else %}
          <i class="fa-solid fa-circle-check"></i>
        {% endif %}
         <strong>{{ m }}</strong>
         <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>   
    {% endfor %}
    
        <div class="container-fluid" style="padding-top: 80px; padding-bottom: 218px; width: 70rem;">
        <div class="card" style="width: 25rem; height: 25rem; background-color: rgba(129, 186, 130, 0); backdrop-filter: blur(3px);">
        <div class="card-body">
            <h1 style="text-align: center; margin-bottom: 40px; opacity: 0.6; color: rgb(255, 255, 255);">Login</h1>
        <form method="post">
            {% csrf_token %}
            <label class="form-label" style="opacity: 0.6; color: rgb(255, 255, 255);">username</label>
            <input class="form-control" style="margin-bottom: 40px;" type="text" name="uname" required>
            <label class="form-label" style="opacity: 0.6; color: rgb(255, 255, 255);">password</label>
            <input class="form-control" type="password" name="psw" required>
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <div style="text-align: center;">
            <input class="btn btn-danger" style="margin-top: 40px;" type="submit">
            </div>
        </form>
        </div>
        </div>
        </div>
    </div>
{% endblock con %}
