{% extends 'home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block con %}

<div class="row">

        <div class="col-lg-5">
          <div id="carousel0" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="3"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="4"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="5"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="6"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="7"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="8"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="9"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Marigold\aeen1ps\aeen1ps_00.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Marigold\aeen1ps\aeen1ps_01.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Marigold\aeen1ps\aeen1ps_02.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Marigold\aeen1ps\aeen1ps_03.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Marigold\aeen1ps\aeen1ps_04.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Marigold\aeen1ps\aeen1ps_05.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Marigold\aeen1ps\aeen1ps_06.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Marigold\aeen1ps\aeen1ps_07.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Marigold\aeen1ps\aeen1ps_08.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Marigold\aeen1ps\aeen1ps_09.png' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel0" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel0" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>  


        <div class="col-lg-5">
            <div id="carousel1" class="carousel carousel-dark slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="4"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="5"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="6"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="7"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="8"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="9"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="10"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="11"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="12"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="13"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="14"></button>
              </div>
              <div class="carousel-inner rounded">
                <div class="carousel-item active">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen101\aeen101_00.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen101\aeen101_01.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen101\aeen101_02.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen101\aeen101_03.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen101\aeen101_04.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen101\aeen101_05.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen101\aeen101_06.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen101\aeen101_07.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen101\aeen101_08.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen101\aeen101_09.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen101\aeen101_10.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen101\aeen101_11.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen101\aeen101_12.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen101\aeen101_13.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen101\aeen101_14.png' %}" class="d-block w-100">
                </div>
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div>
          </div>


          <div class="col-lg-5">
            <div id="carousel2" class="carousel carousel-dark slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="4"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="5"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="6"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="7"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="8"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="9"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="10"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="11"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="12"></button>
              </div>
              <div class="carousel-inner rounded">
                <div class="carousel-item active">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen102\aeen102_00.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen102\aeen102_01.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen102\aeen102_02.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen102\aeen102_03.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen102\aeen102_04.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen102\aeen102_05.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen102\aeen102_06.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen102\aeen102_07.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen102\aeen102_08.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen102\aeen102_09.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen102\aeen102_10.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen102\aeen102_11.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen102\aeen102_12.png' %}" class="d-block w-100">
                </div>
                
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div>
          </div>


          <div class="col-lg-5">
            <div id="carousel3" class="carousel carousel-dark slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="4"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="5"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="6"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="7"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="8"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="9"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="10"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="11"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="12"></button>
              </div>
              <div class="carousel-inner rounded">
                <div class="carousel-item active">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen103\aeen103_00.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen103\aeen103_01.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen103\aeen103_02.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen103\aeen103_03.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen103\aeen103_04.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen103\aeen103_05.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen103\aeen103_06.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen103\aeen103_07.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen103\aeen103_08.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen103\aeen103_09.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen103\aeen103_10.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen103\aeen103_11.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\Marigold\aeen103\aeen103_12.png' %}" class="d-block w-100">
                </div>
                
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div>
          </div>


</div>
{% endblock con %}
</body>
</html>