{% extends 'home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block con %}

<div class="row">

        <div class="col-lg-5">
          <div id="carousel0" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="3"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="4"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="5"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="6"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="7"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="8"></button>
              <button type="button" data-bs-target="#carousel0" data-bs-slide-to="9"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd1ps\aerd1ps_00.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd1ps\aerd1ps_01.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd1ps\aerd1ps_02.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd1ps\aerd1ps_03.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd1ps\aerd1ps_04.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd1ps\aerd1ps_05.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd1ps\aerd1ps_06.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd1ps\aerd1ps_07.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd1ps\aerd1ps_08.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd1ps\aerd1ps_09.png' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel0" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel0" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>          



        <div class="col-lg-5">
          <div id="carousel1" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd101\aerd101_00.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
 

        <div class="col-lg-5">
          <div id="carousel2" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd102\aerd102_00.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd102\aerd102_01.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
 

        <div class="col-lg-5">
          <div id="carousel3" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel3" data-bs-slide-to="0" class="active"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd103\aerd103_00.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
         

        <div class="col-lg-5">
          <div id="carousel4" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel4" data-bs-slide-to="0" class="active"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd104\aerd104_00.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel4" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel4" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
         

        <div class="col-lg-5">
          <div id="carousel5" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel5" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel5" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel5" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#carousel5" data-bs-slide-to="3"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd105\aerd105_00.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd105\aerd105_01.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd105\aerd105_02.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd105\aerd105_03.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel5" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel5" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
         

        <div class="col-lg-5">
          <div id="carousel6" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel6" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel6" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel6" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd106\aerd106_00.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd106\aerd106_01.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd106\aerd106_02.png' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel6" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel6" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
         

        <div class="col-lg-5">
          <div id="carousel7" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel7" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel7" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel7" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#carousel7" data-bs-slide-to="3"></button>
              <button type="button" data-bs-target="#carousel7" data-bs-slide-to="4"></button>
              <button type="button" data-bs-target="#carousel7" data-bs-slide-to="5"></button>
              <button type="button" data-bs-target="#carousel7" data-bs-slide-to="6"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd107\aerd107_00.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd107\aerd107_01.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd107\aerd107_02.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd107\aerd107_03.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd107\aerd107_04.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd107\aerd107_05.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd107\aerd107_06.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel7" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel7" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
         

        <div class="col-lg-5">
          <div id="carousel8" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel8" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel8" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel8" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd108\aerd108_00.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd108\aerd108_01.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd108\aerd108_02.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel8" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel8" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
         

        <div class="col-lg-5">
          <div id="carousel9" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel9" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel9" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel9" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#carousel9" data-bs-slide-to="3"></button>
              <button type="button" data-bs-target="#carousel9" data-bs-slide-to="4"></button>
              <button type="button" data-bs-target="#carousel9" data-bs-slide-to="5"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd109\aerd109_00.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd109\aerd109_01.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd109\aerd109_02.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd109\aerd109_03.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd109\aerd109_04.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd109\aerd109_05.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel9" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel9" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
         

        <div class="col-lg-5">
          <div id="carousel10" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel10" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel10" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel10" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#carousel10" data-bs-slide-to="3"></button>
              <button type="button" data-bs-target="#carousel10" data-bs-slide-to="4"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd110\aerd110_00.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd110\aerd110_01.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd110\aerd110_02.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd110\aerd110_03.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd110\aerd110_04.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel10" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel10" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
         

        <div class="col-lg-5">
          <div id="carousel11" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel11" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel11" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel11" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#carousel11" data-bs-slide-to="3"></button>
              <button type="button" data-bs-target="#carousel11" data-bs-slide-to="4"></button>
              <button type="button" data-bs-target="#carousel11" data-bs-slide-to="5"></button>
              <button type="button" data-bs-target="#carousel11" data-bs-slide-to="6"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd111\aerd111_00.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd111\aerd111_01.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd111\aerd111_02.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd111\aerd111_03.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd111\aerd111_04.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd111\aerd111_05.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd111\aerd111_06.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel11" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel11" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
         

        <div class="col-lg-5">
          <div id="carousel12" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel12" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel12" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel12" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#carousel12" data-bs-slide-to="3"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd112\aerd112_00.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd112\aerd112_01.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd112\aerd112_02.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd112\aerd112_03.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel12" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel12" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
         

        <div class="col-lg-5">
          <div id="carousel13" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel13" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel13" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel13" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#carousel13" data-bs-slide-to="3"></button>
              <button type="button" data-bs-target="#carousel13" data-bs-slide-to="4"></button>
              <button type="button" data-bs-target="#carousel13" data-bs-slide-to="5"></button>
              <button type="button" data-bs-target="#carousel13" data-bs-slide-to="6"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd113\aerd113_00.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd113\aerd113_01.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd113\aerd113_02.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd113\aerd113_03.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd113\aerd113_04.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd113\aerd113_05.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd113\aerd113_06.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel13" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel13" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
         

        <div class="col-lg-5">
          <div id="carousel14" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel14" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel14" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel14" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#carousel14" data-bs-slide-to="3"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd114\aerd114_00.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd114\aerd114_01.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd114\aerd114_02.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd114\aerd114_03.png' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel14" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel14" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
         

        <div class="col-lg-5">
          <div id="carousel15" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel15" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel15" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel15" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#carousel15" data-bs-slide-to="3"></button>
              <button type="button" data-bs-target="#carousel15" data-bs-slide-to="4"></button>
              <button type="button" data-bs-target="#carousel15" data-bs-slide-to="5"></button>
              <button type="button" data-bs-target="#carousel15" data-bs-slide-to="6"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd115\aerd115_00.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd115\aerd115_01.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd115\aerd115_02.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd115\aerd115_03.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd115\aerd115_04.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd115\aerd115_05.png' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd115\aerd115_06.png' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel15" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel15" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
         

        <div class="col-lg-5">
          <div id="carousel16" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel16" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel16" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel16" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#carousel16" data-bs-slide-to="3"></button>
              <button type="button" data-bs-target="#carousel16" data-bs-slide-to="4"></button>
              <button type="button" data-bs-target="#carousel16" data-bs-slide-to="5"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd116\aerd116_00.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd116\aerd116_01.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd116\aerd116_02.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd116\aerd116_03.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd116\aerd116_04.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd116\aerd116_05.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel16" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel16" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
         

        <div class="col-lg-5">
          <div id="carousel17" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel17" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel17" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel17" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#carousel17" data-bs-slide-to="3"></button>
              <button type="button" data-bs-target="#carousel17" data-bs-slide-to="4"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd117\aerd117_00.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd117\aerd117_01.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd117\aerd117_02.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd117\aerd117_03.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd117\aerd117_04.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel17" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel17" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
         

        <div class="col-lg-5">
          <div id="carousel18" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel18" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel18" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel18" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#carousel18" data-bs-slide-to="3"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd118\aerd118_00.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd118\aerd118_01.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd118\aerd118_02.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd118\aerd118_03.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel18" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel18" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div> 

        <div class="col-lg-5">
          <div id="carousel19" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel19" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carousel19" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carousel19" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#carousel19" data-bs-slide-to="3"></button>
              <button type="button" data-bs-target="#carousel19" data-bs-slide-to="4"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd119\aerd119_00.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd119\aerd119_01.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd119\aerd119_02.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd119\aerd119_03.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'NCERT Books for Class 1\Raindrops\aerd119\aerd119_04.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel19" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel19" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>


</div>
{% endblock con %}
</body>
</html>