{% extends 'home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block con %}

<div class="row">


          <div class="col-lg-5">
            <div id="carousel0" class="carousel carousel-dark slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel0" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#carousel0" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carousel0" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#carousel0" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#carousel0" data-bs-slide-to="4"></button>
                <button type="button" data-bs-target="#carousel0" data-bs-slide-to="5"></button>
                <button type="button" data-bs-target="#carousel0" data-bs-slide-to="6"></button>
                <button type="button" data-bs-target="#carousel0" data-bs-slide-to="7"></button>
                <button type="button" data-bs-target="#carousel0" data-bs-slide-to="8"></button>
                <button type="button" data-bs-target="#carousel0" data-bs-slide-to="9"></button>
                <button type="button" data-bs-target="#carousel0" data-bs-slide-to="10"></button>
                <button type="button" data-bs-target="#carousel0" data-bs-slide-to="11"></button>
                <button type="button" data-bs-target="#carousel0" data-bs-slide-to="12"></button>
              </div>
              <div class="carousel-inner rounded">
                <div class="carousel-item active">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn1ps\ahhn1ps_00.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn1ps\ahhn1ps_01.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn1ps\ahhn1ps_02.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn1ps\ahhn1ps_03.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn1ps\ahhn1ps_04.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn1ps\ahhn1ps_05.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn1ps\ahhn1ps_06.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn1ps\ahhn1ps_07.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn1ps\ahhn1ps_08.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn1ps\ahhn1ps_09.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn1ps\ahhn1ps_10.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn1ps\ahhn1ps_11.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn1ps\ahhn1ps_12.png' %}" class="d-block w-100">
                </div>
                
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel0" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel0" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div>
          </div>




          <div class="col-lg-5">
            <div id="carousel1" class="carousel carousel-dark slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="4"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="5"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="6"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="7"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="8"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="9"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="10"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="11"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="12"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="13"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="14"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="15"></button>
              </div>
              <div class="carousel-inner rounded">
                <div class="carousel-item active">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_00.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_01.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_02.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_03.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_04.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_05.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_06.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_07.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_08.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_09.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_10.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_11.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_12.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_13.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_14.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn101\ahhn101_15.png' %}" class="d-block w-100">
                </div>
                
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div>
          </div>


          <div class="col-lg-5">
            <div id="carousel2" class="carousel carousel-dark slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="4"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="5"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="6"></button>
              </div>
              <div class="carousel-inner rounded">
                <div class="carousel-item active">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn102\ahhn102_00.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn102\ahhn102_01.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn102\ahhn102_02.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn102\ahhn102_03.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn102\ahhn102_04.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn102\ahhn102_05.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn102\ahhn102_06.png' %}" class="d-block w-100">
                </div>
                
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div>
          </div>



          <div class="col-lg-5">
            <div id="carousel3" class="carousel carousel-dark slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="4"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="5"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="6"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="7"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="8"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="9"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="10"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="11"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="12"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="13"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="14"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="15"></button>
                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="16"></button>
              </div>
              <div class="carousel-inner rounded">
                <div class="carousel-item active">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_00.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_01.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_02.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_03.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_04.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_05.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_06.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_07.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_08.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_09.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_10.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_11.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_12.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_13.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_14.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_15.png' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'NCERT Books for Class 1\एन सी ई आर टी कक्षा १ रिमझिम\ahhn103\ahhn103_16.png' %}" class="d-block w-100">
                </div>
                
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div>
          </div>

</div>
{% endblock con %}
</body>
</html>